body{
    background-image: url('../images/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
